<span class="fs-2 fw-bold">Coin Prices</span>
<form [formGroup]="calculatorForm" (ngSubmit)="submitCalculatorForm()">
  <div class="mb-3">
    <label for="coins-list" class="form-label fw-bold" for="currency"
      >Moeda</label
    >
    <select
      class="form-select text-uppercase"
      [ngClass]="{ 'is-invalid': fieldValidation('currency') }"
      formControlName="currency"
      (change)="submitCalculatorForm()"
    >
      <option
        class="text-uppercase"
        *ngFor="let currency of currencyList"
        [selected]="currency === 'brl'"
      >
        {{ currency }}
      </option>
    </select>
    <div class="invalid-feedback small">Campo obrigatório</div>
  </div>
</form>

<section class="mt-4">
  <div class="list-group">
    <div
      *ngFor="let coin of coinMarket"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="d-flex justify-content-between align-items-center">
        <img [src]="coin.image" style="max-height: 24px; margin-right: 10px" />
        <span>{{ coin.name }}</span>
      </div>
      <span>{{
        coin.current_price
          | currency: calculatorForm.value.currency.toUpperCase()
      }}</span>
    </div>
  </div>
</section>
